<div class="public-participation">
    <h2>Public Participation in the Budget Process</h2>
    <div class="year-selector btn-group">
        <button data-year="2015" class="btn active">2015</button>
    </div>
    <div class="country-nav-select-outer">
        <h4>
        <select id="select-country" class="country-nav-select">
            <option value="">Find a country...</option>
            {{#each countries}}
            <option value="{{alpha2}}">{{country}}</option>
            {{/each}}
        </select>
        </h4>
        <h4>
        <select id="select-region" class="country-nav-select">
            <option value="">Select a region...</option>
            <option value="region-0">Entire World</option>
            <option value="region-1">East Asia &amp; Pacific</option>
            <option value="region-2">Eastern Europe</option>
            <option value="region-3">Central Asia</option>
            <option value="region-4">Latin America &amp; Caribbean</option>
            <option value="region-5">Middle East &amp; North Africa</option>
            <option value="region-6">South Asia</option>
            <option value="region-7">Sub-Saharan Africa</option>
            <option value="region-8">Western Europe &amp; the U.S.</option>
        </select>
        </h4>
        <p class="participation-links">
            <a href="http://fiscaltransparency.net/category/gift-documents/">Public participation examples &raquo;</a><br />
            <a href="http://fiscaltransparency.net/2014/11/participation-case-studies-and-synthesis/">Case studies &raquo;</a>
        </p>
    </div>
    <table id="participation-table">
        <thead>
            <tr class="table-header">
                <th class="col1" colspan="2" rowspan="2"><a href="#" class="sortbyname" data-sort="name"><span class="text">Country</span> <span class="caret"></span></a></th>
                <th class="col2" rowspan="2"><a href="#" class="sortbyname" data-sort="score"><span class="text">Score</span> <span class="caret"></span></a></th>
                <th class="help-header" colspan="16"><span class="text">Questions (Click on each answer to read more about countries’ practices)</span></th>
            </tr>
            <tr class="table-header">
                {{#each questions}}
                <th class="col2" title="<table class='participation-tooltip'>
                    <tr><th><b>Question {{number}}</b></th></tr>
                    <tr><td>{{text}}</td></tr>
                </table>">
                <a href="#" class="sortbyname" data-sort="{{number}}"><span class="text">{{number}}</span> <span class="caret"></span></a></th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
