<div class="country-nav-select-outer">
<h3>Country:&nbsp;&nbsp;
<select class="country-nav-select">
<option value="">Select a country...</option>
{{#each countries}}
<option value="{{alpha2}}">{{name}}</option>
{{/each}}
</select></h3>
</div>
<div id="country-profile">
{{#if empty}}
  <h3>Select a country...</h3>
{{else}}
  {{#if main_website_url}}
    <a class="main-website-link" href="{{main_website_url}}">View {{#with data}}{{name}}{{/with}} on IBP Site &raquo;</a>
  {{/if}}
  <h3>Country Datasheet: {{#with data}}{{name}}{{/with}} ({{alpha2}})</h3>
  <table class="percentages">
  </table>
  <div id="profile-mode">
    <div class="scores">
      <div class="year-box year-2006 badge">
        <span class="top">2006</span><span class="bottom"></span>
      </div>
      <div class="year-box year-2008 badge">
        <span class="top">2008</span><span class="bottom"></span>
      </div>
      <div class="year-box year-2010 badge">
        <span class="top">2010</span><span class="bottom"></span>
      </div>
      <div class="year-box year-2012 badge">
        <span class="top">2012</span><span class="bottom"></span>
      </div>
      <div class="year-box year-2014 badge badge-success future">
        <span class="top">2014</span><span class="bottom"></span>
      </div>
      <div class="clearfix"></div>
    </div>
    <br/>
    <div>
      <label class="checkbox" id="profile-toggle">
          <input type="checkbox"> Show 2014 Calculator...
      </label>
    </div>
    <p class="explanation future">Click on the letters below to calculate the possible outcome of the 2014 survey.<br/>Changing the value of a question automatically updates the score.</p>
  </div>
  <div style="position: relative;">
    <div class="details"></div>
    <div class="question-box">
    </div>
  </div>
  <div class="clearfix"></div>
{{/if}}
</div>
