<div class="row">
    <div class="span8">
        <h1>Query generator</h1>
        <div class="question-toggles">
        {{#each question}}
            <div class="toggle {{#each groups}}{{this}} {{/each}}" id="toggle-{{number}}">{{number}}</div>
        {{/each}}
        <div class="clearfix"></div>
        </div>
    </div>
    <div class="span4">
        {{#each groupings}}
            <h6 style="border-bottom: 1px solid #000; margin-top: 15px;">{{by}}</h6>
            {{#each entries}}
            <a href="#" class="group-toggler" id="group-{{group_id}}">{{title}}</a><br/>
            {{/each}}
        {{/each}}
    </div>
</div>
