<tr>
    <td class="country"><a href="#profile/{{alpha2}}">{{name}}</a></td>
    <td class="text-center">{{score}}</td>
    <td class="text-center"><span class="badge state state-{{ prebudgetstatement }}">
                              <span>{{ prebudgetstatement }}</span>
    </span></td>
    <td class="text-center"><span class="badge state state-{{ executivesbudgetproposal }}">
                              <span>{{ executivesbudgetproposal }}</span>
    </span></td>
    <td class="text-center"><span class="badge state state-{{ enactedbudget }}">
                              <span>{{ enactedbudget }}</span>
    </span></td>
    <td class="text-center"><span class="badge state state-{{ citizensbudget }}">
                              <span>{{ citizensbudget }}</span>
    </span></td>
    <td class="text-center"><span class="badge state state-{{ inyearreports }}">
                              <span>{{ inyearreports }}</span>
    </span></td>
    <td class="text-center"><span class="badge state state-{{ midyearreview }}">
                              <span>{{ midyearreview }}</span>
    </span></td>
    <td class="text-center"><span class="badge state state-{{ yearendreport }}">
                              <span>{{ yearendreport }}</span>
    </span></td>
    <td class="text-center"><span class="badge state state-{{ auditreport }}">
                              <span>{{ auditreport }}</span>
    </span></td>
</tr>
