<tr>
    <td class="country"><a href="#profile/{{alpha2}}">{{name}}</a></td>
    <td class="flag"><img src="images/flags/{{alpha2}}.GIF"/></td>
    <td class="score">{{score}}</td>
    <td class="dot"><img src="images/dot/{{prebudgetstatement}}.png"/></td>
    <td class="dot"><img src="images/dot/{{executivesbudgetproposal}}.png"/></td>
    <td class="dot"><img src="images/dot/{{enactedbudget}}.png"/></td>
    <td class="dot"><img src="images/dot/{{citizensbudget}}.png"/></td>
    <td class="dot"><img src="images/dot/{{inyearreports}}.png"/></td>
    <td class="dot"><img src="images/dot/{{midyearreview}}.png"/></td>
    <td class="dot"><img src="images/dot/{{yearendreport}}.png"/></td>
    <td class="dot"><img src="images/dot/{{auditreport}}.png"/></td>
</tr>
