<table id="question-table" class="table table-condensed">
  <tr>
    <th></th>
    {{#each years}}
      <th><span class="badge">{{this}}</span></th>
    {{/each}}
    <th><span class="badge badge-success">{{ calc_year }}</span></th>
    <th class="space"></th>
  </tr>
  {{#each questions as |qvalue qkey| }}
  <tr class="question-row" data-question-number="{{number}}">
    <td class="number">{{number}}</td>
    {{#each ../years as |yvalue ykey| }}
        <td class="letters{{#if ../threeLetterAnswer}} three-letter-answer{{/if}}"><span class="letter {{lookup qvalue yvalue}}">{{lookup qvalue yvalue}}</span></td>
    {{/each}}
    <td class="letters multi{{#if threeLetterAnswer}} three-letter-answer{{/if}}">
      {{#if threeLetterAnswer}}
        <span class="letter a inactive" data-score="100">a</span>
        <span class="letter b inactive" data-score="0">b</span>
        <span class="letter c inactive" data-score="-1">c</span>
        <span class="letter null inactive">-</span>
        <span class="letter null inactive">-</span>
      {{else}}
        <span class="letter a inactive" data-score="100">a</span>
        <span class="letter b inactive" data-score="67">b</span>
        <span class="letter c inactive" data-score="33">c</span>
        <span class="letter d inactive" data-score="0">d</span>
        <span class="letter e inactive" data-score="-1">e</span>
      {{/if}}
    </td>
    <td class="space"></td>
  </tr>
  {{/each}}
</table>
