<div class="scores span2">
    {{#each years}}
        <div class="year-box year-{{this}} badge">
            <span class="top">{{this}}</span><span class="bottom"></span>
        </div>
    {{/each}}

    <div class="year-box year-future badge badge-success future">
        <span class="top">{{ calc_year }}</span><span class="bottom"></span>
    </div>
    <div class="clearfix"></div>
</div>
<div class="span6">
    <p>Click on the letters below to calculate the possible outcome of the {{ calc_year }} survey. Changing the value of a question automatically updates the score. You can select a subset of questions from the list on the right.</p>
    <button class="btn" id="profile-reset">Reset Calculator</button>
{{!--    <p>You can bookmark or share this page for later viewing.</p>
    <ul class="share-buttons future">
      <li><a href="https://www.facebook.com/sharer/sharer.php?u=&t=" title="Share on Facebook" target="_blank"
               onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img
                src="images/social-icons/Facebook.png"></a></li>
      <li><a href="https://twitter.com/intent/tweet?source=&text=:%20" target="_blank" title="Tweet"
               onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img
                src="images/social-icons/Twitter.png"></a></li>
      <li><a href="https://plus.google.com/share?url=" target="_blank" title="Share on Google+"
               onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><img
                src="images/social-icons/Google+.png"></a></li>
      <li><a href="http://www.reddit.com/submit?url=&title=" target="_blank" title="Submit to Reddit"
               onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img
                src="images/social-icons/Reddit.png"></a></li>
      <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=&source=" target="_blank"
               title="Share on LinkedIn"
               onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img
                src="images/social-icons/LinkedIn.png"></a></li>
      <li><a href="mailto:?subject=&body=:%20" target="_blank" title="Email"
               onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><img
                src="images/social-icons/Email.png"></a></li>
      <li><button class="btn" id="print-answered">Print/PDF Results</button></li>
      <li><button class="btn" id="print-table">Print/PDF table</button></li>
      <li><button class="btn" id="profile-reset">Reset Calculator</button></li>
    </ul> --}}
</div>
<div class="span4">
  {{#each groupings0}}
    <ul>
      {{#each entries}}
      <li><a href="#" class="calculator-group-toggler" id="calculator-group-{{group_id}}" data-group-id="{{group_id}}">{{title}}</a></li>
      {{/each}}
    </ul>
  {{/each}}
</div>
