{{#if fd}}
  <table class="table table-bordered">
      <tr class="first-row">
        <th class="blank" style="width: 300px;"></th>
        <th colspan="2" style="text-align: center;">2006-2012</th>
        <th colspan="2" style="text-align: center;">2015</th>
        <th colspan="2" style="text-align: center;">2017</th>
      </tr>
      <tr>
        <th class="blank"></th>
        <th style="text-align: right;">Format</th>
        <th>Filename</th>
        <th style="text-align: right;">Format</th>
        <th>Filename</th>
        <th style="text-align: right;">Format</th>
        <th>Filename</th>
      </tr>
      <tr>
        <td rowspan="3"><strong>FULL DATASETS</strong><br />encompassing all Open Budget Surveys published by the International Budget Partnership, are available in multiple formats.</td>
      {{#each excel}}
        <td style="text-align: right;">{{format}}</td>
        <td><a href="downloads/{{filename}}">{{filename}}</a> ({{size}})</td>
      {{/each}}
      </tr>
      <tr>
      {{#each csv}}
        <td style="text-align: right;">{{format}}</td>
        <td><a href="downloads/{{filename}}">{{filename}}</a> ({{size}})</td>
      {{/each}}
      </tr>
      <tr>
      {{#each json}}
        <td style="text-align: right;">{{format}}</td>
        <td><a href="downloads/{{filename}}">{{filename}}</a> ({{size}})</td>
      {{/each}}
      </tr>
  </table>
{{/if}}

{{#if sf}}
  <table class="table table-bordered">
      <tr class="first-row">
        <th class="blank" style="width: 300px;"></th>
        <th colspan="2" style="text-align: center;">2006-2012</th>
        <th colspan="2" style="text-align: center;">2015</th>
        <th colspan="2" style="text-align: center;">2017</th>
      </tr>
      <tr>
        <th class="blank"></th>
        <th style="text-align: right;">Format</th>
        <th>Filename</th>
        <th style="text-align: right;">Format</th>
        <th>Filename</th>
        <th style="text-align: right;">Format</th>
        <th>Filename</th>
      </tr>
      <tr>
        <td rowspan="3"><strong>STATISTICAL FILES</strong><br />complement the datasets, and have been prepared and made available for researchers here.</td>
        <td style="text-align: right;">Excel</td>
        <td><a href="downloads/OBI 2006-2012 ALL for web.xlsx">Full Excel Source</a> (649kb)</td>
        <td style="text-align: right;">Excel</td>
        <td><a href="downloads/OBI 2006-2015 ALL for web.xlsx">Full Excel Source</a> (736kb)</td>
        <td style="text-align: right;">Excel</td>
        <td><a href="downloads/ibp_data_2017_statfile.xlsx">Full Excel Source</a> (178kb)</td>
      </tr>
      <tr>
        <td style="text-align: right;">PDF</td>
        <td><a href="downloads/OBI 2006-2012 dataset codebook.pdf">Dataset Codebook</a> (343kb)</td>
        <td style="text-align: right;">PDF</td>
        <td><a href="downloads/OBI 2006-2015 dataset codebook.pdf">Dataset Codebook</a> (1.6mb)</td>
        <td style="text-align: right;">PDF</td>
        <td><a href="downloads/OBS 2017 Codebook.pdf">Dataset Codebook</a> (383kb)</td>
      </tr>
      <tr>
        <td style="text-align: right;">STATA</td>
        <td><a href="downloads/OBI 2006-2012 dataset for web.dta">STATA package</a> (408kb)</td>
        <td style="text-align: right;">STATA</td>
        <td><a href="downloads/OBI 2006-2015 dataset for web.dta">STATA package</a> (532kb)</td>
        <td style="text-align: right;">STATA</td>
        <td><a href="downloads/ibp_data_2017.dta">STATA package</a> (466kb)</td>
      </tr>
  </table>
{{/if}}

{{#if cr}}
<div>
  <div class="download-data1">
    <p><strong>CUSTOM REPORTS CAN BE SAVED!</strong></p>

    <p>The customized reports generated in your browser, by selecting year and
    questions/subsections of the Survey (see the “Customize Report” above),
    can be saved as CSVs.</p>

    <p><strong>How?</strong> Select the Survey year or period, and click on "Download Data" below. You can also click in the "Customize Report" textbox on the right hand side of this page, or copy/paste the contents of the textbox.</p>

    <p class="dl-years"><span class="dl-years-info">Select year:</span>
    <label class="radio inline">
      <input type="radio" name="downloadyear" value="2006">
        2006
    </label>
    <label class="radio inline">
      <input type="radio" name="downloadyear" value="2008">
        2008
    </label>
    <label class="radio inline">
      <input type="radio" name="downloadyear" value="2010">
        2010
    </label>
    <label class="radio inline">
      <input type="radio" name="downloadyear" value="2012">
        2012
    </label>
    <label class="radio inline">
      <input type="radio" name="downloadyear" value="2015">
        2015
    </label>
    <label class="radio inline">
      <input type="radio" name="downloadyear" value="2017" checked>
        2017
    </label>
    </p>
    <p class="dl-years"><span class="dl-years-info">or</span>
    <label class="radio inline">
      <input type="radio" name="downloadyear" value="all">
        2006-2012
    </label>
    <label class="radio inline">
      <input type="radio" name="downloadyear" value="2015">
        2015
    </label>
    <label class="radio inline">
      <input type="radio" name="downloadyear" value="2017">
        2017
    </label>
    </p>
  </div>
  <div class="download-data2">
    <p><small>This preview is based on the specific data (survey subsections, questions, world regions) selected in the “Customize report” section above.</small></p>
    <textarea id="custom-csv" readonly>
      Loading...
    </textarea>
  </div>
  <div class="report-download">
    <button class="btn btn-primary btn-small btn-download"><a href="#" class="download-csv">Download Data</a></button>
  </div>
</div>
{{/if}}

<div class="clearfix"></div>
