{{#each percentages}}
  <tr>
    <td class="year"><span class="badge">{{year}}:</span></td>
    <td class="score">{{#if not_defined}} {{else}}Score: {{score}}{{/if}}</td>
    <td class="bar">
      {{#if not_defined}}
        <div class="percentbar disabled">(Not surveyed)</div>
      {{else}}
        <div class="percentbar" title="<table class='percentbar-tooltip'>
        <tr><th colspan='4'>Share of questions by letter grade:</th></tr>
        <tr class='row-a'><td class='letter'>A:</td><td class='left'>{{a}}</td><td class='middle'>/</td><td class='right'>{{total}}</td></tr>
        <tr class='row-b'><td class='letter'>B:</td><td class='left'>{{b}}</td><td class='middle'>/</td><td class='right'>{{total}}</td></tr>
        <tr class='row-c'><td class='letter'>C:</td><td class='left'>{{c}}</td><td class='middle'>/</td><td class='right'>{{total}}</td></tr>
        <tr class='row-d'><td class='letter'>D:</td><td class='left'>{{d}}</td><td class='middle'>/</td><td class='right'>{{total}}</td></tr>
        <tr class='row-e'><td class='letter'>E:</td><td class='left'>{{e}}</td><td class='middle'>/</td><td class='right'>{{total}}</td></tr>
        </table>">
          <div class="bg-e" style="width: {{e_width}}%"></div>
          <div class="bg-d" style="width: {{d_width}}%"></div>
          <div class="bg-c" style="width: {{c_width}}%"></div>
          <div class="bg-b" style="width: {{b_width}}%"></div>
          <div class="bg-a" style="width: {{a_width}}%"></div>
        </div>
      {{/if}}
    </td>
  </tr>
{{/each}}
