<table id="question-table" class="table table-condensed">
  <tr>
    <th></th>
    {{#each years}}
      <th><span class="badge">{{this}}</span></th>
    {{/each}}
    <th class="space"></th>
  </tr>
  {{#each questions as |qvalue qkey| }}
    <tr class="question-row" data-question-number="{{number}}">
      <td class="number">{{number}}</td>
      {{#each ../years as |yvalue ykey| }}
        <td class="letter">{{#if (lookup qvalue yvalue)}}<img src="images/letter/{{lookup qvalue yvalue}}.png"/>{{else}}-{{/if}}</td>
      {{/each}}
      <td class="space"></td>
    </tr>
  {{/each}}
</table>
