<tr>
    <td class="country"><a href="#profile/{{alpha2}}">{{country}}</a></td>
    <td class="flag"><img src="images/flags/{{alpha2}}.GIF"/></td>
    <td class="score">{{score}}</td>
    <td class="bar">
      <div class="percentbar" title="<table class='percentbar-tooltip'>
        <tr><th colspan='4'>Share of questions by letter grade:</th></tr>
        <tr class='row-a'><td class='letter'>A:</td><td class='left'>{{a}}</td><td class='middle'>/</td><td class='right'>{{total}}</td></tr>
        <tr class='row-b'><td class='letter'>B:</td><td class='left'>{{b}}</td><td class='middle'>/</td><td class='right'>{{total}}</td></tr>
        <tr class='row-c'><td class='letter'>C:</td><td class='left'>{{c}}</td><td class='middle'>/</td><td class='right'>{{total}}</td></tr>
        <tr class='row-d'><td class='letter'>D:</td><td class='left'>{{d}}</td><td class='middle'>/</td><td class='right'>{{total}}</td></tr>
        <tr class='row-e'><td class='letter'>E:</td><td class='left'>{{e}}</td><td class='middle'>/</td><td class='right'>{{total}}</td></tr>
        </table>">
          <div class="bg-a" style="left: 0%; width: {{a_width}}%"></div>
          <div class="bg-b" style="left: {{b_left}}%; width: {{b_width}}%"></div>
          <div class="bg-c" style="left: {{c_left}}%; width: {{c_width}}%"></div>
          <div class="bg-d" style="left: {{d_left}}%; width: {{d_width}}%"></div>
          <div class="bg-e" style="left: {{e_left}}%; width: {{e_width}}%"></div>
        </div>
    </td>
</tr>
