<div class="timeline-column" id="timeline-column-{{year}}">
  <h4>{{year}} Survey</h4>
  <table>
    <thead>
      <tr>
        <th class="timeline-cell-name">Country</th>
        <th class="timeline-cell-flag"></th>
        <th class="timeline-cell-score">Score</th>
        <th class="timeline-cell-rank">Rank</th>
      </tr>
    </thead>
    <tbody>
    {{#each data}}
      <tr class="timeline-row-{{alpha2}}" data-alpha2="{{alpha2}}">
        <td class="timeline-cell-name"><a href="#profile/{{alpha2}}">{{country}}</a></td>
        <td class="timeline-cell-flag"><img src="images/flags/{{alpha2}}.GIF"/></td>
        <td class="timeline-cell-score">{{score}}&nbsp;&nbsp;</td>
        <td class="timeline-cell-rank">{{rank}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>

