<tr>
    <td class="country"><a href="#profile/{{alpha2}}">{{name}}</a></td>
    <td class="flag"><img src="images/flags/{{alpha2}}.GIF"/></td>
    <td class="dot">{{prebudgetstatement}}</td>
    <td class="dot">{{executivesbudgetproposal}}</td>
    <td class="dot">{{citizensbudget}}</td>
    <td class="dot">{{enactedbudget}}</td>
    <td class="dot">{{inyearreports}}</td>
    <td class="dot">{{midyearreview}}</td>
    <td class="dot">{{yearendreport}}</td>
    <td class="dot">{{auditreport}}</td>
</tr>
