<td class="comments-template" colspan="18">
  <div class="question">
      <div class="question-text">
        <b>Question {{number}}:</b> {{text}}
      </div>
      {{#if a}}<div class="answer"><b>A: </b>{{a}}</div>{{/if}}
      {{#if b}}<div class="answer"><b>B: </b>{{b}}</div>{{/if}}
      {{#if c}}<div class="answer"><b>C: </b>{{c}}</div>{{/if}}
      {{#if d}}<div class="answer"><b>D: </b>{{d}}</div>{{/if}}
      {{#if e}}<div class="answer"><b>E: </b>{{e}}</div>{{/if}}
  </div>
  <div class="comments">
      <div class="comments-text">
        <b>Researcher's Comment and Citation Supporting the Response</b>
      </div>
      <p>{{comments}}</p>
  </div>
</td>