
<table>
  <tr>
    <th></th>
    <th>2006</th>
    <th>2008</th>
    <th>2010</th>
    <th>2012</th>
    <th class="space"></th>
  </tr>
  {{#each questions}}
  <tr class="question-row" data-question-number="{{number}}">
    <td class="number">{{number}}</td>
    <td class="letter">{{#if l2006}}<img src="images/letter/{{l2006}}.png"/>{{else}}-{{/if}}</td>
    <td class="letter">{{#if l2008}}<img src="images/letter/{{l2008}}.png"/>{{else}}-{{/if}}</td>
    <td class="letter">{{#if l2010}}<img src="images/letter/{{l2010}}.png"/>{{else}}-{{/if}}</td>
    <td class="letter">{{#if l2012}}<img src="images/letter/{{l2012}}.png"/>{{else}}-{{/if}}</td>
    <td class="space"></td>
  </tr>
  {{/each}}
</table>
