
<table>
  <tr>
    <th></th>
    <th>2006</th>
    <th>2008</th>
    <th>2010</th>
    <th>2012</th>
  </tr>
  {{#each questions}}
  <tr>
    <td class="number">{{number}}</td>
    <td class="letter bg-{{l2006}}">{{l2006}}</td>
    <td class="letter bg-{{l2008}}">{{l2008}}</td>
    <td class="letter bg-{{l2010}}">{{l2010}}</td>
    <td class="letter bg-{{l2012}}">{{l2012}}</td>
  </tr>
  {{/each}}
</table>
