<table class="table table-condensed" id="question-table-print">
    <tr>
        <th></th>
        <th>Question</th>
        <th class="space"></th>
        <th>{{year}}Answers</th>
    </tr>
    {{#each data.questions}}
        <tr class="question-row-print" data-question-number="{{question.number}}">
            <td class="number-print">{{question.number}}</td>
            <td class="question-print">{{question.text}}</td>
            <td class="space"></td>
            <td>
                {{#if question.a}}<div class="answer-print" data-score="100"><b>A:</b> {{question.a}} {{/if}}</div>
                {{#if question.b}}<div class="answer-print" data-score="67"><b>B:</b> {{question.b}} {{/if}}</div>
                {{#if question.c}}<div class="answer-print" data-score="33"><b>C:</b> {{question.c}} {{/if}}</div>
                {{#if question.d}}<div class="answer-print" data-score="0"><b>D:</b> {{question.d}} {{/if}}</div>
                {{#if question.e}}<div class="answer-print" data-score="-1"><b>E:</b> {{question.e}} {{/if}}</div>
            </td>
            <td class="space"></td>
        </tr>
    {{/each}}
</table>


<table id="question-table" class="table table-condensed">
    <tr>
        <th></th>
        <th><span class="badge">2015</span></th>
        <th><span class="badge badge-success">2017</span></th>
        <th class="space"></th>
    </tr>
    {{#each data.questions}}
        <tr class="question-row" data-question-number="{{number}}">
            <td class="number">{{number}}</td>
            <td class="letter">{{#if l2015}}<img src="images/letter/{{l2015}}.png"/>{{else}}-{{/if}}</td>
            <td class="letter multi">
                {{#if l2015}}
                    <img src="images/letter/a.png" class="inactive" data-score="100"/>
                    <img src="images/letter/b.png" class="inactive" data-score="67"/>
                    <img src="images/letter/c.png" class="inactive" data-score="33"/>
                    <img src="images/letter/d.png" class="inactive" data-score="0"/>
                    <img src="images/letter/e.png" class="inactive" data-score="-1"/>
                {{else}}
                    -
                {{/if}}
            </td>
            <td class="space"></td>
        </tr>
    {{/each}}
</table>

