<div class="ranking-column" id="ranking-column-{{year}}">
  <h4>Rankings ({{year}})</h4>
  <table class="rankings-table">
    <thead>
      <tr>
        <th class="ranking-cell-name">Country</th>
        <th class="ranking-cell-flag"></th>
        <th class="ranking-cell-score">Score</th>
        <th class="ranking-cell-rank">Rank</th>
      </tr>
    </thead>
    <tbody>
    {{#each data}}
      <tr class="ranking-row-{{alpha2}}" data-alpha2="{{alpha2}}">
        <td class="ranking-cell-name">{{country}}</td>
        <td class="ranking-cell-flag"><img src="/images/flags/{{alpha2}}.gif"/></td>
        <td class="ranking-cell-score">{{score}} %</td>
        <td class="ranking-cell-rank">{{ranking}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>

