<tr>
    <td class="country">{{country}}</td>
    <td class="flag"><img src="images/flags/{{alpha2}}.GIF"/></td>
    <td class="score">{{score}}%</td>
    <td class="bar">
        <div class="percentbar">
            <div class="a" style="width: {{pa}}%"></div>
            <div class="b" style="width: {{pb}}%"></div>
            <div class="c" style="width: {{pc}}%"></div>
            <div class="d" style="width: {{pd}}%"></div>
            <div class="e" style="width: {{pe}}%"></div>
        </div>
    </td>
</tr>
