<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <span class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        <span class="pre-subtitle">Viewing: </span>
        "<span class="subtitle"></span>"
        <a class="customize-link" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
          Customize Report &raquo;
        </a>
      </span>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
          <div class="col1 grouplist">
                {{#each groupings0}}
                    <h6>{{by}}</h6>
                    <ul>
                      {{#each entries}}
                      <li><a href="#" class="group-toggler" id="group-{{group_id}}">{{title}}</a></li>
                      {{/each}}
                    </ul>
                {{/each}}
            </div>
            <div class="col2 grouplist">
                {{#each groupings1}}
                    <h6>{{by}}</h6>
                    <ul>
                      {{#each entries}}
                      <li><a href="#" class="group-toggler" id="group-{{group_id}}">{{title}}</a></li>
                      {{/each}}
                    </ul>
                {{/each}}
            </div>
            <div class="col3">
                <div id="toggle-boxes">
                {{#each question}}
                  <a href="#" class="toggle-box {{#each groups}}{{this}} {{/each}}" id="toggle-{{number}}" title="<p class='question-tooltip'>{{text}}</p>">{{number}}</a>
                {{/each}}
                <div class="clearfix"></div>
                <div class="select-or-clear">
                    <button class="btn btn-primary btn-small select">Select All</button>
                    <button class="btn btn-small clear">Clear All</button>
                </div>
                </div>
            </div>
            <div class="col4 grouplist">
                <h6><img src="images/world.png"/> Regions</h6>
                <ul>
                  {{#each regions}}
                  <li><a href="#" class="region-toggler" id="region-{{region_index}}">{{name}}</a></li>
                  {{/each}}
                </ul>
                <div class="report-download">
                    <button class="btn btn-primary btn-small btn-download"><a href="#" class="download-csv">Download Data</a></button>
                </div>
            </div>
            <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
