<h1><span style="font-weight: normal;">Exploring:</span> <span class="subtitle"></span></h1>
<div class="expand-collapse">
  <a href="#" class="more-options">&nbsp;&nbsp;customize report &raquo;</a>
  <a href="#" class="less-options" style="display:none;">&laquo; hide options</a>
</div>
<div class="inner" style="display: none;">
    <div class="row">
      <div class="span3 grouplist grouplist1">
          {{#each groupings0}}
              <h6>{{by}}</h6>
              <ul>
                {{#each entries}}
                <li><a href="#" class="group-toggler" id="group-{{group_id}}">{{title}}</a></li>
                {{/each}}
              </ul>
          {{/each}}
      </div>
      <div class="span3 grouplist grouplist1">
          {{#each groupings1}}
              <h6>{{by}}</h6>
              <ul>
                {{#each entries}}
                <li><a href="#" class="group-toggler" id="group-{{group_id}}">{{title}}</a></li>
                {{/each}}
              </ul>
          {{/each}}
      </div>
      <div class="span5">
          <div class="select-or-clear">
              <button class="btn btn-primary btn-small select">Select All</button>
              <button class="btn btn-small clear">Clear All</button>
          </div>
          <div id="toggle-boxes">
          {{#each question}}
            <a href="#" class="toggle-box {{#each groups}}{{this}} {{/each}}" id="toggle-{{number}}" title="<p class='question-tooltip'>{{text}}</p>">{{number}}</a>
          {{/each}}
          <div class="clearfix"></div>
          </div>
      </div>
    </div>
</div>
