<h1><span style="font-weight: normal;">Exploring:</span> <span class="subtitle"></span></h1>
<div class="expand-collapse">
  <a href="#" class="more-options">&nbsp;&nbsp;customize report &raquo;</a>
  <a href="#" class="less-options" style="display:none;">&laquo; hide options</a>
</div>
<div class="inner" style="display: none;">
    <div class="row">
      <div class="col1 grouplist">
          {{#each groupings0}}
              <h6>{{by}}</h6>
              <ul>
                {{#each entries}}
                <li><a href="#" class="group-toggler" id="group-{{group_id}}">{{title}}</a></li>
                {{/each}}
              </ul>
          {{/each}}
      </div>
      <div class="col2 grouplist">
          {{#each groupings1}}
              <h6>{{by}}</h6>
              <ul>
                {{#each entries}}
                <li><a href="#" class="group-toggler" id="group-{{group_id}}">{{title}}</a></li>
                {{/each}}
              </ul>
          {{/each}}
      </div>
      <div class="col3">
          <div id="toggle-boxes">
          {{#each question}}
            <a href="#" class="toggle-box {{#each groups}}{{this}} {{/each}}" id="toggle-{{number}}" title="<p class='question-tooltip'>{{text}}</p>">{{number}}</a>
          {{/each}}
          <div class="clearfix"></div>
          <div class="select-or-clear">
              <button class="btn btn-primary btn-small select">Select All</button>
              <button class="btn btn-small clear">Clear All</button>
          </div>
          </div>
      </div>
      <div class="col4 grouplist">
          <h6><img src="images/world.png"/> Region</h6>
          <ul>
            {{#each regions}}
            <li><a href="#" class="region-toggler" id="region-{{region_index}}">{{name}}</a></li>
            {{/each}}
          </ul>
      </div>
    </div>
</div>
