<div class="row">
  <div class="span3">
    <div id="sidebar">
      <h2>Countries</h2>
      <ul class="compare-without">
        {{#each view_without}}
          <li><a href="{{link}}" class="close ibp-close">x</a>{{name}}</li>
        {{/each}}
        <li class="li-add"><select id="compare-add-country">
          <option>Add a country...</option>
          {{#each view_with}}
            <option value="{{name}}">{{name}}</option>
          {{/each}}
        </select></li>
      </ul>
    </div>
  </div>
  <div id="main" class="span9">
    <h1>Comparison</h1>
    <table class="table table-striped table-small country-table country-comparison">
      <thead>
        <th>#</th>
        <th>Question</th>
        {{#each countries}}
          <th class="q-answer">{{this}}</th>
        {{/each}}
      </thead>
      <tbody>
      {{#each data}}
        <tr>
          <td class="q-id">{{id}}</td>
          <td class="q-text">{{question}}</td>
          {{#each answers}}
            <td class="q-answer letter letter-{{letter}}">{{letter_processed}}</td>
          {{/each}}
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>

