<div class="row">
  <div class="span4">
    <h2>Status</h2>
    <pre>
    <b>Dataset loaded.</b> 
      Rows: {{status.rows}} 
      Columns: {{status.columns}}
    <b>Countries:</b>{{#each status.countries}}
      {{this}}{{/each}}
    </pre>
  </div>
  <div class="span8">
    <h2>JSON: Questions</h2>
    <pre class="data-dump">
      {{dump_questions}}
    </pre>
    <h2>JSON: Answers</h2>
    <pre class="data-dump">
      {{dump_answers}}
    </pre>
  </div>
</div>
