<div class="row">
  <div class="span3">
    <div id="sidebar">
      <ul class="country-sidebar">
        {{#each countries}}
        <li><a href="#profile/table/{{name}}">{{name}}</a><span class="bar">{{count_a}},{{count_b}},{{count_c}},{{count_d}}</span></li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div id="main" class="span9">
    <h2>{{{country}}}</h2>
    {{#if data}}
      <table class="table table-striped table-small country-table">
        <thead>
          <th>#</th>
          <th>Question</th>
          <th colspan="3">Score</th>
        </thead>
        <tbody>
        {{#each data}}
          <tr>
            <td class="q-id">{{id}}</td>
            <td class="q-text">{{question}}</td>
            <td class="q-answer letter letter-{{answer.letter}}">{{answer.letter_processed}}</td>
            <td class="q-answer number">{{answer.number}}%</td>
            {{#if answer.render_pie_chart}}
              <td class="q-answer chart pie">{{answer.number}}/100</td>
            {{else}}
              <td class="q-answer chart">&nbsp;</td>
            {{/if}}
          </tr>
        {{/each}}
        </tbody>
      </table>
    {{/if}}
  </div>
</div>
