<div class="row">
  <div class="span4">
    <div id="sidebar">
      <h2>Category</h2>
      <select id="compare-choose-group">
        {{#each groupings}}
        <optgroup label="{{by}}">
          {{#each entries}}
            <option value="{{id}}" {{category_selected id}}>{{title}}</option>
          {{/each}}
        </optgroup>
        {{/each}}
      </select>
      <br/> <br/>
      <h2>Region</h2>
      <select id="compare-choose-region">
        {{#each regions}}
          <option value="{{id}}" {{region_selected id}}>{{title}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div id="main" class="span8">
    <h1>Rankings</h1>
    <div class="rankings-tooltip" style="display:none;"></div>
    <table class="rankings-table">
      {{#each data}}
        <tr>
          <td class="country">{{country}}</td>
          {{#each answers}}
            <td data-id="{{id}}" data-answer="{{answer.letter}}" class="letter letter-{{answer.letter}}"></td>
          {{/each}}
        </tr>
      {{/each}}
    </table>
    {{#if data}}
      <div class="form-actions" style="padding-left: 80%;">
        <div class="btn-group">
          <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
            Download
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#" onclick="return false;">Download as CSV</a></li>
            <li><a href="#" onclick="return false;">Download as XLS</a></li>
            <li><a href="#" onclick="return false;">Download as PDF</a></li>
            <!-- dropdown menu links -->
          </ul>
        </div>
      </div>
    {{/if}}
  </div>
</div>


