<div class="row">
    <div class="span9">
        <div class="group-selector btn-group" id="datasheet-toggles">
            <button data-group="oversight" class="btn">Oversight</button>
            <button data-group="participation" class="btn">Participation</button>
        </div>
    </div>
    <div class="span3 all-countries">
        <a class="btn pull-right" href="#availability">View all countries</a>
    </div>
</div>

<div class="country-nav-select-outer">
<h3>Country:&nbsp;&nbsp;
<select class="country-nav-select">
<option value="">Select a country...</option>
{{#each countries}}
<option value="{{alpha2}}">{{name}}</option>
{{/each}}
</select></h3>
</div>
<div id="country-profile">
{{#if empty}}
  <h3>Select a country...</h3>
{{else}}
  {{#if main_website_url}}
    <a class="main-website-link" href="{{main_website_url}}">View {{#with data}}{{name}}{{/with}} on IBP Site &raquo;</a>
  {{/if}}
  <h3 id="country-header">Country Datasheet: {{#with data}}{{name}}{{/with}} ({{alpha2}})</h3>
  <table class="percentages">
  </table>
  <div id="profile-mode" class="profile-mode-expanded">
  </div>
  <div style="position: relative;">
    <div class="details"></div>
    <div class="question-box">
    </div>
  </div>
  <div class="clearfix"></div>
{{/if}}
</div>
